@charset "ISO-8859-1";

html {
	height: 100%;
}

.background {
	background-size: cover;
	height: 100%;
	margin: 0;
	padding: 0;
	background-attachment: fixed;
	background-repeat: no-repeat;

	/* 	filter: blur(8px); */
	/* border:10px solid red; */
}

body {
	/* 	background-size:cover; */
	background-image:
		url("http://www.allwhitebackground.com/images/7/Dark-Minimalist-Wallpaper-1920x1080-00492.jpg");
	height: 100%;
	background-color: gray;
	background-attachment: fixed;
	background-size: cover; margin : 0;
	padding: 0;
	margin: 0;

	/* 	border:4px solid red */
}

.wrapper {
	/* 	text-align:center; */
	/* 	padding:100%; */
	display: flex;
	/* 	width:width; */
	flex-direction: column;
	justify-content: center;
/* 	border: 1px solid red; */
	/* 	  display: table; */

	/* 	width:200px; */

	/* 	margin:auto; */
}

.content {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	text-shadow: 1px 1px 10px black;
}

h1 {
	font-size: 65px;
	color: #fff;
}

.subtitle {
	font-size: 23px;
	color: #fff;
}

.button {
	background-color: white;
	border: none;
	color: #fff;
	padding: 15px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	border-radius: 2rem;
}

.button:hover {
	background-color: orange;
}

.menu_bar {
	text-align: left;
	/* 	text-align: center; */
	position: fixed;
	/* 	height:5%; */
	width: 100%;
/* 	border: 2px solid red; */
	background: gray;
	backdrop-filter: blur(40px);
	background-color: rgba(250,250,250,0);


	box-shadow: 5px 5px 20px 5px #000000;

z-index:1;

}
/* ma partie */
.recherche {
	text-align: center;
	/* 	background-color:blue; */
	height: 100%;
	width: 100%;
}

.menu_bar ul {
	display: inline-flex;
	margin-left: 0px;
	list-style: none;
	/* 	color: #fff; */
/* 	border: 1px dotted black; */
	backdrop-filter: blur(10px);


}

.menu_bar ul li {
/* 	border: 1px solid red; */
	margin-right: 40px;
	/* 	width: 150px; */
	/* 	padding: 15px; */
	
}

.menu_bar ul li a {
	text-decoration: none;
	color: #fff;
		backdrop-filter: blur(30px);
	
}

.research input {
	width: calc(100% -180px);
	padding: 10px 15px;
	margin-right: 15px;
	font-size: 1.3rem;
	background-color: transparent;
	outline: none;
	color: white;
	border-color: black;
}

.research button {
	padding: 10px 15px;
	background-color: transparent;
	border: 2px solid gray;
	transition: .4s;
	color: #fff;
}

.research input::placeholder {
	color:gray
/* 	color: #fff; */
}

.search button:hover {
	background-color: #fff;
	color:white;
}

.recherche {
	display: flex;
/* 	flex-direction: column; */
/* 	justify-content: center; */
/* 	border: 2px solid black; */
/* 	text-align: center; */
}

.research {
	/* 	border:1px solid purple; */
/* 	height: 100px; */
/* 	width: 80%; */
	margin: auto;

	/* 	 display: flex; */
}

.contacts {
/* 	border: 3px solid green; */
	height: 100%;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

table {
/* 	border: 1px solid red; */
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	padding: 30px;
	border-radius: 10px;
	backdrop-filter: blur(10px);
	background-color: rgba(250, 250, 250, .1);
	color: gray;
}

.ajouter {
/* 	border: 5px solid orange; */
	height: 100%;
/* 	display: flex; */
}

.form1 {
	text-align: center;
	vertical-align: middle;
/* 	padding: 100px; */
/* 	border: 5px solid red; */
	width: 100%;
	padding:40px;
	border-radius: 30px;
	  backdrop-filter: blur(40px);
	  z-index: -1
	
	
}

.form2 {
	box-shadow: 5px 5px 50px 5px #000000;
	margin: auto;
/* 	border: 4px solid red; */
/* 	padding: 30%; */
	width: 100%;
	background-color: rgba(0, 0, 0, .9);
	text-align: center;
	border-radius: 10px;
	/* 	  backdrop-filter: blur(50px); */
}

.element {
	border: none;
	border-bottom: 1px solid black;
/* 	background: transparent; */
	outline: none;
	height: 30px;
	font-size: 16px;
	opacity: 1;
}

.submit {
	outline: none;
	height: 40px;
	background: gray;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}

.wrapper {
	width: 500px;
	height: 500px;
	color: #000;
	top: 50%;
	left: 50%;
	padding: 60px 50px;
	position: absolute;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
/* 	box-shadow: 8px 8px 50px #000; */
		backdrop-filter: blur(30px);
			border-radius: 10px;
		
	
}

p{
	color:white;
}

input.element {
	background-color: transparent;
	color:gray;
}

