@charset "ISO-8859-1";
.background {
	background-size: cover;
	height: 100%;
	margin: 0;
	padding: 0;
	background-attachment: fixed;
	background-repeat: no-repeat;

	/* 	filter: blur(8px); */
	/* border:10px solid red; */
}

body {
	/* 	background-size:cover; */
	background-image:
		url("http://www.allwhitebackground.com/images/7/Dark-Minimalist-Wallpaper-1920x1080-00492.jpg");
	height: 100%;
	background-color: gray;
	background-attachment: fixed;
	background-size: cover; margin : 0;
	padding: 0;
	margin: 0;

	/* 	border:4px solid red */
}




.wrapper{
	display:table;
	width:100%;
	height:100%;
}
.content{
	display:table-cell;
	text-align:center;
	vertical-align:middle;
	text-shadow:1px 1px 10px black;
}
h1{
	font-size:65px;
	color:#fff;
}
.menu_bar ul {
	display: inline-flex;
	margin-left: 0px;
	list-style: none;
	/* 	color: #fff; */
/* 	border: 1px dotted black; */
	backdrop-filter: blur(10px);


}

.menu_bar ul li {
/* 	border: 1px solid red; */
	margin-right: 40px;
	/* 	width: 150px; */
	/* 	padding: 15px; */
	
}

.menu_bar ul li a {
	text-decoration: none;
	color: #fff;
		backdrop-filter: blur(30px);
	
}